<div style='color: #666; padding-top: 5%; padding-left:30%; padding-right: 30%; text-align: center'>
    <%= image_tag 'facundo_trans_logo.png', width: 400, class: 'main-logo' %>
    <p style='margin-top: 40px'>A new OpenSit experience and mobile app are coming soon!</p>
    <p>If you're already signed up, you can log in to the old site <a style='color: white' href="<%=new_user_session_path%>">here</a></p>
</div>
